# Atlassian Jira Credentials
JIRA_DOMAIN=your-jira-domain-prefix
JIRA_API_TOKEN=your-jira-api-token

# Atlassian Confluence Credentials
CONFLUENCE_DOMAIN=your-confluence-domain-prefix
CONFLUENCE_API_TOKEN=your-confluence-api-token

# Figma Personal Access Token
FIGMA_ACCESS_TOKEN=figd_your_figma_access_token
